<form action="">
  <label for="GET-name">Item name:</label>
  <input id="GET-name" type="text" name="name">
  <br>
  <label for="GET-description">Description:</label>
  <input id="GET-description" type="text" description="description">
  <input type="submit" value="Save">
</form>
